---
import About from "../components/index/About.astro";
import Contact from "../components/index/Contact.astro";
import Header from "../components/index/Header.astro";
import Landing from "../components/index/Landing.astro";
import Projects from "../components/index/Projects.astro";
import Skills from "../components/index/Skills.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="srichards96">
  <Header />
  <main>
    <Landing />
    <Skills />
    <Projects />
    <About />
    <Contact />
  </main>
</Layout>
