<section
  id="landing"
  class="bg-[url('/personal-site/landing-bg-image.jpg')] bg-cover bg-center"
>
  <div
    class="min-h-[calc(100vh-108px)] sm:min-h-[calc(100vh-64px)] container-narrow mx-auto px-4 flex flex-col justify-center items-baseline"
  >
    <h1 class="text-3xl sm:text-6xl mb-4">
      Hi, I'm
      <span class="font-bold"> Scott Richards</span>
    </h1>
    <h2 class="text-xl sm:text-3xl mb-6">
      I'm a
      <span class="font-bold"> Full-Stack Web Developer</span>
      and
      <span class="font-bold"> Software Engineer</span>
    </h2>
    <p class="text-lg sm:text-xl max-w-[80ch] mb-2">
      Experienced with JavaScript, TypeScript, React, and .NET.
    </p>
    <p class="text-lg sm:text-xl max-w-[80ch] mb-2">
      Currently working around the Fareham and Portsmouth areas in the south of
      England.
    </p>

    <a
      href="#contact"
      class="px-4 py-2 mt-4 rounded-md text-xl sm:text-3xl bg-purple-600 hover:bg-purple-700 focus:bg-purple-700 active:bg-purple-800"
    >
      Contact Me
    </a>
  </div>
</section>
